

.textmedieval {
    font-family: 'MedievalSharp', cursive;
}



main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}
.heroes
{
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;

    justify-content: center;
}

.profileLayout
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardName
{
    margin-bottom: 0;
}
.cardleft
{
    text-align: left;
    margin: 0;
}
.cardslogan
{
margin: 2px;
padding-bottom: 3px;
padding-top: 0;
}
.profileCard
{
    box-sizing: border-box;
    word-wrap: break-word;
    border: 1px solid #000;
    width: 275px;
    height: 275px;
    min-width: 250px;
    min-height: 250px;
    margin: auto;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}