@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


.textmedieval {
    /* font-family: 'MedievalSharp', cursive; */
    color: black;
    background-size: cover;
}
.textmedievalh1 {
    font-family: 'Bungee', cursive;
    color: black;
    background-size: cover;
}
.bold{
    font-weight: bold;
}

.textmedievalhead {
    font-family: 'Bungee', cursive;

    color: black;
    padding-top: 5px;
    margin-top: 10px;

}
p{
    margin: 0;
}


body{
    background-color: black;
    background-image: url('./img/box.jpg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    color: beige;
}
h2{
    color: blanchedalmond;
}
h3{
    margin-top: 0;
    margin-bottom: 0;

}
h4{
    padding: 0 0 0 0;
    margin-bottom: 0;

}

h5{
    margin-top: 10px;
    margin-bottom: 0;
}
h6{
    margin: 0;
}
main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}
.heroes
{
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;

    justify-content: center;
}

#chargeHtmlspan
{
    font-size: 22px;
}
.profileLayout
{
    width: 100%;
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: column;
}
#pocketCash
{
    border: 1px solid #000;
    height: 40px;
}
#pocketCashLoading
{
    display: none;
    border: 1px solid #000;
    height: 40px;
    background-color: aquamarine;
    color: black;
}

.profileCard
{
    background-image: url('./img/poster1.jpg');
    box-sizing: border-box;
    /* word-wrap: break-word; */
    border: 1px solid rgb(139, 19, 19);
    width: 90vw;
    max-width: 300px;
    min-width: 250px;
    min-height: 250px;
    margin: auto;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: antiquewhite;
}

#indexbanner{
    width: 100%;
}
.profileCardIndex
{
    border: 5px solid rgb(87, 0, 0) !important;
    background-image: url('./img/paper.png');
    background-size: cover;
    box-sizing: border-box;
    word-wrap: break-word;
    border: 1px solid #000;
    /* height: 575px; */
    min-width: 250px;
    min-height: 250px;
    margin: auto;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: antiquewhite;
    overflow: hidden;
    padding-bottom: 15px;
}

.cardName
{
    font-family: 'Bungee', cursive;
    color: rgb(56, 5, 5);
    position: relative;
    font-weight: bolder;
    margin-top: 3px;
    margin-bottom: 0;
    background-image: url('./img/statbg.gif');
    background-size: 116% 27px;
    background-color: rgb(248, 228, 130);
    background-position-x: -23px;
}
.indexFightname{
    font-family: 'Bungee', cursive;
    color: rgb(31, 1, 1);

}
.cardslogan
{
color: #856600;
/* margin: 2px; */
padding: 0px 0px 10px 0px;
padding-top: 0;
/* font-family: 'Bungee', cursive; */

font-weight: 700;

}

.statbox
{
    text-align: right;
    width: auto;
    border: none;
    background-color: black;
    color: blanchedalmond;
    padding: 0;
    overflow: visible;
}
.statistic{
    position: relative;
    display: inline;
    margin: 0;    
    padding: 0px 0px 0 0;
}
.statisticregister{
    text-align: right;
    display: inline-block;
    margin: 0;    
    padding: 0px 5px 0 5px;
    background-color: black;
}

.grid-container {
    width: 100%;
    /* max-width: 1000px; */
    align-items: center;
    justify-items: center; /* adjusted */
    display: grid;
    grid-template-columns: auto   auto;
  }
.grid-item {

text-align: center;
text-align: center;
color: black;
}


@media only screen and (max-width: 359px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto ;

        grid-template-columns: auto  ;
        grid-template-rows:  auto ;
      }
  }
.indexstatcategory
{
    width: 40%;
    display: inline;
    overflow: hidden;
}


#createFighterLoad
{
    display: none;
    margin: auto;
}
.container p-1{
    width: 100vw;
    max-width: 1000px;
}

.container{
    width: 100%;
    max-width: 1100px;
}
.roster
{
    font-weight: bolder;
}
.record{
    color: rgb(77, 3, 3);
}
.cash
{
    font-weight: bolder;
}