

.textmedieval {
    font-family: 'MedievalSharp', cursive;
    color: black;
    background-image: url(./img/paper.png);
}

body{
    background-color: black;
    background-image: url('./img/box.jpg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    color: beige;
}
h2{
    color: blanchedalmond;
}
main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}
.heroes
{
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;

    justify-content: center;
}

#chargeHtmlspan
{
    font-size: 22px;
}
.profileLayout
{
    width: 100%;
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: column;
}
#pocketCash
{
    border: 1px solid #000;
    height: 40px;
}
#pocketCashLoading
{
    display: none;
    border: 1px solid #000;
    height: 40px;
    background-color: aquamarine;
    color: black;
}

.profileCard
{
    background-image: url('./img/paper.png');
    box-sizing: border-box;
    /* word-wrap: break-word; */
    border: 1px solid rgb(139, 19, 19);
    width: 275px;
    /* height: 25px; */
    min-width: 250px;
    min-height: 250px;
    margin: auto;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: antiquewhite;
}


.profileCardIndex
{
    background-image: url('./img/paper.png');
    box-sizing: border-box;
    word-wrap: break-word;
    border: 1px solid #000;
    height: 575px;
    min-width: 250px;
    min-height: 250px;
    margin: auto;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: antiquewhite;
}

.cardName
{
    color: black;
    position: relative;
    font-weight: bolder;
    margin-top: 3px;
    margin-bottom: 0;
    background-image: url('./img/paper.png');
    background-size: 275px 15px;
    background-color: rgb(248, 228, 130);
}

.cardslogan
{
color: #1b1717;
margin: 2px;
padding: 0px 0px 10px 0px;
padding-top: 0;
}

.cardleft
{
    color: #110c0c;
    text-align: left;
    padding-top: 0px;
    margin: 0 0 0 0;
}
.statbox
{
    text-align: right;
    width: auto;
    border: none;
    background-color: black;
    color: blanchedalmond;
    padding: 0;
    overflow: visible;
}

h3{
    margin-top: 10px;
    margin-bottom: 0;
}

h5{
    margin-top: 10px;
    margin-bottom: 0;
}