{% extends "layout.html" %}

{% block title %}
    Stocks
{% endblock %}

{% block main %}
<script>
// start counter
var chargeInterval = setInterval(indexTimer, 700);
function indexTimer() {
    chargeDisplay.innerText = charge;
    charge += 1;
}
function myStopFunction() {
    clearInterval(chargeInterval);
}
</script>

<h2 class="textmedieval">welcome back {{ userdata[0]["username"] }}</h2>


<div class="profileLayout">


    <div class="profileCardIndex">  
        <!-- name -->
        <h4 class="cardName textmedieval">{{ userdata[0]["username"] }}</h4>
        <!-- slogan -->
        <p class="cardslogan textmedieval">"{{ userdata[0]["slogan"] }}"</p>
        <p class="cardleft textmedieval"> Race: {{ userdata[0]["race"] }}</p>
        <p class="cardleft textmedieval">Alignment: {{ userdata[0]["alignment"] }}</p>
        <p class="cardleft">$<span id="cardChargeTotal" class="totalCharge">{{ userdata[0]["totalcharge"] }}</span></p>
    </div>   



    <!-- <h1>Add</h1>
    <p><input type=text size=5 name=newItem> +
    <input type=text size=5 name=b> =
    <span id=result>?</span>
    <p><a href=# id=calculate>add item</a> -->


    <br><br>  
    <p>Current Cash on the Table: </p>
    <p id="chargeHtmlspan">$<span id="chargeHtml">0</span></p>
     <!-- Commit Charge and Reset counter Button--> 
    <a href=# class='btn btn-primary' id='pocketCash'>Pocket the Cash</a>
    <a href=# class='btn btn-primary' id='pocketCashLoading'>Sneaking that cash into your pocket....</a>
    <br><br>
        

   
   <!-- <button onclick="myStopFunction()">Stop Charge</button> -->


    

    <div class="">  
        <h1>Inventory:</h1>
        <div id="inventoryCard">
        {% for item in listInv %}
            <p class="cardName textmedieval">{{ item }}</p>
        {% endfor %}
        </div>


    </div>         

</div>




{% endblock %}

