{% extends "layout.html" %}

{% block title %}
    Stocks
{% endblock %}

{% block main %}

<h2 class="textmedieval">welcome back {{ userdata[0]["username"] }}</h2>


<div class="profileLayout">


    <div class="profileCard">  
        <!-- name -->
        <h4 class="cardName textmedieval">{{ userdata[0]["username"] }}</h4>
        <!-- slogan -->
        <p class="cardslogan textmedieval">"{{ userdata[0]["slogan"] }}"</p>
        <p class="cardleft textmedieval"> Race: {{ userdata[0]["race"] }}</p>
        <p class="cardleft textmedieval">Alignment: {{ userdata[0]["alignment"] }}</p>
        
    </div>   



    <h1>Add</h1>
    <p><input type=text size=5 name=newItem> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
    <p><a href=# id=calculate>add item</a>

   <!-- <p>A script on this page starts this clock:</p>
   <p id="demo"></p>
   
   <button onclick="myStopFunction()">Stop time</button> -->

    

    <div class="">  
        <p>you have:</p>
        <div id="inventoryCard">
        {% for item in listInv %}
            <p class="cardName textmedieval">{{ item }}</p>
        {% endfor %}
        </div>


    </div>         

</div>




{% endblock %}

