{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h2>Register New Fighter</h2>
    <form action="/register" method="post">

<!-- name -->
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Generic Gi" type="text" maxlength="14">
        </div>
<!-- slogan -->
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="slogan" placeholder="slogan" type="charf" maxlength="50">
        </div>
<!-- password -->
        <div class="form-group">
            <input class="form-control" name="registerpassword1" placeholder="Password" type="password">
            <input class="form-control" name="registerpassword2" placeholder="Re-type Password" type="password">
        </div>
<!-- fightstyle -->
        <h6>Please select your Style:</h6>
        <input class="statisticregister"type="radio" id="Accurate" name="fightstyle" value="The Swarmer" checked="checked"> 
        <label for="Accurate">The Swarmer</label><br>  
            
        <input class="statisticregister" type="radio" id="TheOutBoxer" name="fightstyle" value="The Out-Boxer">
        <label for="The Out-Boxer">The Out-Boxer</label><br>

        <input class="statisticregister" type="radio" id="TheSlugger" name="fightstyle" value="The Slugger">
        <label for="TheSlugger">The Slugger</label><br>

        <input class="statisticregister" type="radio" id="TheBoxerPuncher" name="fightstyle" value="The Boxer-Puncher">
        <label for="TheBoxerPuncher">The Boxer-Puncher</label><br>

        <input class="statisticregister" type="radio" id="TheCounterPuncher" name="fightstyle" value="The Counter Puncher">
        <label for="TheCounterPuncher">The Counter Puncher</label><br>

        <input class="statisticregister" type="radio" id="TheSouthpaw" name="fightstyle" value="The Southpaw">
        <label for="TheSouthpaw">The Southpaw</label><br>


        
        


        <h2>GENERATE STATS</h2>
        <div id="rerollbutton" class="btn btn-primary" type="submit">Reroll Stats</div>        
        <button id='createFighter' class="btn btn-primary" type="submit">LOOKS GOOD - CREATE FIGHTER</button>
        <button id='createFighterLoad' class="btn btn-primary" type="submit">Saving Figher</button>

        <h3>Body</h3>
        <div>Height: <input size="1" id="heightCm" class='statbox' type="text" name="heightCm" value="0" readonly>cm - <span id="heightFeet"></span></div>
        <div>Weight: <input size="1" id="weightKg" class='statbox' type="text" name="weightKg" value="0" readonly>kg - <span id="weightLb"></span>Lbs</div>

        <h3>Accuracy</h3>
        <div class="statisticregister">Jab<input size="1" id="jab" class='statbox' type="text" name="jab" value="0" readonly>%</div>
        <div class="statisticregister"><input size="1" id="cross" class='statbox' type="text" name="cross" value="0" readonly>% &nbsp;&nbsp;&nbsp; Cross </div><br>
        <div class="statisticregister">Left Hook<input size="1" id="lhook" class='statbox' type="text" name="lhook" value="0" readonly>%</div>
        <div class="statisticregister"><input size="1" id="rhook" class='statbox' type="text" name="rhook" value="0" readonly>% &nbsp;&nbsp;&nbsp; Right Hook </div><br>
        <div class="statisticregister">Left Body<input size="1" id="lbody" class='statbox' type="text" name="lbody" value="0" readonly>%</div>
        <div class="statisticregister"><input size="1" id="rbody" class='statbox' type="text" name="rbody" value="0" readonly>% &nbsp;&nbsp;&nbsp; Right Body </div><br>
        <div class="statisticregister">Left Uppercut<input size="1" id="lupper" class='statbox' type="text" name="lupper" value="0" readonly>%</div>
        <div class="statisticregister"><input size="1" id="rupper" class='statbox' type="text" name="rupper" value="0" readonly>% &nbsp;&nbsp;&nbsp; Right Uppercut </div><br><br>

        <h3>Conditioning</h3>
        <div class="">Power: <input size="1" id="power" class='statbox' type="text" name="power" value="0" readonly>%</div>
        <div class="">Speed: <input size="1" id="speed" class='statbox' type="text" name="speed" value="0" readonly>%</div>
        <div class="">Dodge: <input size="1" id="dodge" class='statbox' type="text" name="dodge" value="0" readonly>%</div>
        <div class="">Chin: <input size="1" id="chin" class='statbox' type="text" name="chin" value="0" readonly>%</div>
        <div class="">Stamina: <input size="1" id="stamina" class='statbox' type="text" name="stamina" value="0" readonly>%</div>


<br>



    </form>

    <script>
        // body vars
        let heightFeet = document.getElementById("heightFeet");
        let heightCm = document.getElementById("heightCm");

        let weightKg = document.getElementById("weightKg");
        let weightLb = document.getElementById("weightLb");

        let jab = document.getElementById("jab");
        let cross = document.getElementById("cross");
        let lhook = document.getElementById("lhook");
        let rhook = document.getElementById("rhook");
        let lbody = document.getElementById("lbody");
        let rbody = document.getElementById("rbody");
        let lupper = document.getElementById("lupper");
        let rupper = document.getElementById("rupper");

        let speed = document.getElementById("speed");
        let dodge = document.getElementById("dodge");
        let chin = document.getElementById("chin");
        let stamina = document.getElementById("stamina");
        let power = document.getElementById("power");




        // get random number
        function getRndInteger(min, max) {
            return Math.floor(Math.random() * (max - min + 1) ) + min;
        }
 
        // convert to feet
        function toFeet(n) {
                var realFeet = ((n*0.393700) / 12);
                var feet = Math.floor(realFeet);
                var inches = Math.round((realFeet - feet) * 12);
                return feet + "' " + inches + '"';
        }
            
        // click Reroll
        let reroll = () => {
            // roll new values
            let newHeight = getRndInteger(35,53)+getRndInteger(31,55)+getRndInteger(31,55)+getRndInteger(31,55);
            newFighter.height = newHeight;
            let weightratio = newHeight/190;

            let newWeight = (getRndInteger(40, 160)*weightratio).toFixed(0);
            newFighter.weight = newWeight;
            let speedratio = 50/newWeight;
            let chinratio = newWeight/150;
            let powerratio = newWeight/100;

            console.log('speedratio', speedratio);
            console.log('weightratio', weightratio);
            console.log('chinratio', chinratio);
            console.log('powerratio', powerratio);





            let newJab = (getRndInteger(40, 80)*speedratio).toFixed(0);
            let newCross = (getRndInteger(30, 70)*speedratio).toFixed(0);
            let newLhook = (getRndInteger(20, 60)*speedratio).toFixed(0);
            let newRhook = (getRndInteger(20, 60)*speedratio).toFixed(0);

            let newLbody = (getRndInteger(20, 60)*speedratio).toFixed(0);
            let newRbody = (getRndInteger(20, 60)*speedratio).toFixed(0);
            let newLupper = (getRndInteger(10, 50)*speedratio).toFixed(0);
            let newRupper = (getRndInteger(10, 50)*speedratio).toFixed(0);

            let newSpeed = (getRndInteger(50, 100)*speedratio).toFixed(0);
            let newDodge = (getRndInteger(50, 100)*speedratio).toFixed(0);
            let newChin = (getRndInteger(20, 100)*chinratio).toFixed(0);
            let newStamina = (getRndInteger(20, 100)*weightratio).toFixed(0);
            let newPower = (getRndInteger(20, 100)*powerratio).toFixed(0);



            newFighter.jab = newJab;
            newFighter.cross = newCross;
            newFighter.lhook = newLhook;
            newFighter.rhook = newRhook;

            newFighter.lbody = newLbody;
            newFighter.rbody = newRbody;
            newFighter.lupper = newLupper;
            newFighter.rupper = newRupper;
            newFighter.speed = newSpeed;
            newFighter.dodge = newDodge;
            newFighter.chin = newChin;
            newFighter.stamina = newStamina;
            newFighter.power = newPower;


            // update text BOdy stats
            heightCm.value = newFighter.height;
            heightFeet.innerText = toFeet(newHeight);
            weightKg.value = newFighter.weight;
            weightLb.innerText = (newFighter.weight*2.205).toFixed(0);
            jab.value = newFighter.jab;
            cross.value = newFighter.cross;
            lhook.value = newFighter.lhook;
            rhook.value = newFighter.rhook;

            lbody.value = newFighter.lbody;
            rbody.value = newFighter.rbody;
            lupper.value = newFighter.lupper;
            rupper.value = newFighter.rupper;
            speed.value = newFighter.speed;
            dodge.value = newFighter.dodge;
            chin.value = newFighter.chin;
            stamina.value = newFighter.stamina;
            power.value = newFighter.power;


        };
        let rerollbutton = document.getElementById("rerollbutton");
        rerollbutton.addEventListener('click', reroll);
        // Roll stats

        class Fighter {
            constructor(height, weight, jab, cross, lhook, rhook, lbody, rbody, lupper, rupper, speed, dodge, chin, stamina, power) {
                this.height = Number(height)
                this.weight = Number(weight)
                this.jab = Number(jab)
                this.cross = Number(cross)
                this.lhook = Number(lhook)
                this.rhook = Number(rhook)
                this.lbody = Number(lbody)
                this.rbody = Number(rbody)
                this.lupper = Number(lupper)
                this.rupper = Number(rupper)
                this.speed = Number(speed)
                this.dodge = Number(dodge)
                this.chin = Number(chin)
                this.stamina = Number(stamina)
                this.power = Number(power)



            }
        }

        const newFighter = new Fighter();
        reroll();


    // change createChar button on load
    let changeCharbtn = () => {
        console.log('cbt');
        document.getElementById('createFighterLoad').style.display = 'block';
        document.getElementById('createFighter').style.display = 'none';
        document.getElementById('rerollbutton').style.display = 'none';

    }

    document.getElementById('createFighter').addEventListener('click', changeCharbtn)



    </script>
{% endblock %}
