{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h2>Register New Account</h2>
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" maxlength="14">
        </div>
        <div class="form-group">
            <input class="form-control" name="registerpassword1" placeholder="Password" type="password">
            <input class="form-control" name="registerpassword2" placeholder="Re-type Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
