{% extends "layout.html" %}

{% block title %}
leaderboard
{% endblock %}

{% block main %}
<h2 class="textmedieval">Life Forms</h2>
<div class="heroes">
    

    {% for user in listUsers %}
    <div class="profileCard">  
        <!-- name -->
        <h4 class="cardName textmedieval">{{ user[1] }}</h4>
        <!-- slogan -->
        <p class="cardslogan textmedieval">"{{ user[2] }}"</p>
        <p class="cardleft textmedieval"> Race: {{ user[4] }}</p>
        <p class="cardleft textmedieval">Alignment: {{ user[3] }}</p>
        <p class="cardleft">$<span id="cardChargeTotal" class="totalCharge">{{ user[5] }}</span></p>
        
        
    </div>         


    {% endfor %}
</div> 

{% endblock %}