{% extends "layout.html" %}

{% block title %}
leaderboard
{% endblock %}

{% block main %}
<h2 class="roster">Roster</h2>
<div class="heroes">
    <!-- userdata = list((user['id'] ,user['username'], user['slogan'], user['totalcharge'], user['fightstyle'], user['height'] , user['weight'], user['jab'], user['straightcross'], user['lhook'], user['rhook'], user['lbody'], user['rbody'], user['lupper'], user['rupper'], user['speed'], user['dodge'], user['chin'], user['stamina'])) -->

    {% for user in listUsers %}
    <div class="profileCard">  
        <!-- name -->
        <h4 class="cardName textmedieval">{{ user[1] }}</h4>
        <!-- slogan -->        
        <p class="cardslogan textmedieval">"{{ user[2] }}"</p>
        
        <p class="statistic textmedieval"><span id='feet'>{{ ((user[5] / 2.54)/12)|int }}</span>'<span id='inches'>{{ ((user[5] / 2.54)|round|int)%12 }}</span>" - </p>
        <!-- <p class="statistic textmedieval">Height: {{ user[5] }}cm / <span id='feet'>{{ ((user[5] / 2.54)/12)|int }}</span>'<span id='inches'>{{ ((user[5] / 2.54)|round|int)%12 }}</span>"</p> -->
        <p class="statistic textmedieval"><span id='lbs'>{{ (user[6]*2.205)|round|int }}</span>lbs.</p>
        <!-- <p class="statistic textmedieval">Weight: {{ user[6] }}kg / <span id='lbs'>{{ (user[6]*2.205)|round|int }}</span>Lbs.</p> -->

        <p class="statistic textmedieval">{{ user[4] }}</p><br>


        <h4></h4>
        <!-- (newFighter.weight*2.205).toFixed(0) -->
        <!-- ((n*0.393700) / 12) -->

        <h5 class="textmedievalh1 bold">Accuracy</h5>
        <p class="statistic textmedieval">Jab: {{ user[7] }}%</p>
        <p class="statistic textmedieval">Cross: {{ user[8] }}%</p><br>
        <p class="statistic textmedieval">Left Hook: {{ user[9] }}%</p>
        <p class="statistic textmedieval">Right Hook: {{ user[10] }}%</p><br>
        <p class="statistic textmedieval">Left Body: {{ user[11] }}%</p>
        <p class="statistic textmedieval">Right Body: {{ user[12] }}%</p><br>
        <p class="statistic textmedieval">L Uppercut: {{ user[13] }}%</p>
        <p class="statistic textmedieval">R Uppercut: {{ user[14] }}%</p>

        <h5 class="textmedievalh1 bold">Conditioning</h5>
        <p class="statistic textmedieval">Power: {{ user[19] }}%</p>
        <p class="statistic textmedieval">Speed: {{ user[15] }}%</p>
        <p class="statistic textmedieval">Dodge: {{ user[16] }}%</p><br>
        <p class="statistic textmedieval">Chin: {{ user[17] }}%</p>
        <p class="statistic textmedieval">Stamina: {{ user[18] }}%</p>


        <h6 class="record">win-loss-draw-ko</h6>
        <p class="statistic record">{{ user[20] }}-</p>
        <p class="statistic record">{{ user[21] }}-</p>
        <p class="statistic record">{{ user[22] }}-</p>
        <p class="statistic record">{{ user[23] }}</p><br>
        <p class="statistic textmedieval cash">Earnings: $<span id="cardChargeTotal" class="totalCharge">{{ user[3] }}</span></p>






        
        
        
    </div>         

    <script>

    </script>

    {% endfor %}
</div> 



{% endblock %}